.posts{
  margin: 20px auto;
  width: 60%;
  font-family: 'Source Sans', 'Helvetica', sans-serif;
}
.post{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
h3, p{
  margin:0px;
  font-size:13px;
}
.loading{
  position: relative;
  height: 100px;
  width: 100%;
}
.load-more{
  text-align:center;
  background:#eee;
  border: 1px solid #ddd;
  display:block;
  padding: 10px;
}